@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@import url('./font.css');
@import url('./animations.css');

:root {
    --primary: #040D12;
    --secondary: #183D3D;
    --midtone: #5C8374;
    --accent: #93B1A6;

    --light-x: 70%;
    --light-y: 50%;
    --light-radius: 75%;

    --cursor-size: 0.5rem;
    --bullet-size: 0.7rem;

    --inline-padding-s: 1rem;
    --inline-padding-m: 5vw;
    --inline-padding-l: 10rem;

    --nav-height: 4rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:has(.cursor) {
    cursor: none;
}

body {
    background-image: radial-gradient(
        circle at 
            var(--light-x) 
            var(--light-y), 
            var(--secondary), 
            var(--primary) 
            var(--light-radius)
    );
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Poppins', 'Poppins_local', sans-serif;
    width: 100vw;
    min-height: 100vh;
    color: var(--accent);
}

.cursor {
    position: absolute;
    transform: translate(-50%, -50%) rotate(-23deg);
    pointer-events: none;
    z-index: 200;
    transition: none;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 15px 6px;
    background-color: transparent;
    border-color: transparent transparent var(--midtone) transparent;
}

.cursor::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 15px 6px;
    background-color: transparent;
    border-color: transparent transparent var(--accent) transparent;
    left: -9px;
    top: -1.5px;
    z-index: -1;
}

#canvas {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: transparent;
}

.page-transition {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100vw;
    z-index: 10;

    &.back {
        background-color: var(--accent);

        &.swipe-in {
            animation: swipe-in 0.5s ease-in forwards;
        }
    }

    &.front {
        background-color: var(--midtone);    

        &.swipe-in {
            animation: swipe-in 0.5s ease-in forwards 0.1s;
        }
    }

    &.swipe-out {
        animation: swipe-out 0.5s ease-in-out forwards;
    }
}

.hero-container {
    padding-inline: 6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    gap: 2rem;

    header {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        position: relative;
        z-index: -2;

        h1 {
            font-size: 3rem;
            font-weight: 800;
            color: var(--accent);
            letter-spacing: 0.1rem;
        }

        h2 {
            font-size: 2rem;
            font-weight: 300;
            color: var(--midtone);
        }
    }
    
    a {
        background-color: var(--midtone);
        padding: 1rem 2rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        color: var(--primary);
        text-decoration: none;
        transition: 0.3s;
        box-shadow: 2px 2px 4px var(--primary);

        &:hover {
            background-color: var(--accent);
        }
    }
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
    backdrop-filter: blur(2px);

    #message {
        color: #f34343;
        font-size: 0.7rem;
        padding: 0.2rem 5rem;
        margin: 0;
        animation: error 0.3s forwards;

        &:empty {
            display: none;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        position: relative;

        input {
            font-size: 1rem;
            height: 2rem;
            width: min(300px, 90vw);
            padding: 0 1rem;
            margin-bottom: 1rem;
            background-color: transparent;
            border-bottom: 1px solid var(--midtone);
            caret-color: var(--accent);
            color: var(--midtone);
            opacity: 0.5;
            transition: 0.3s;
            position: relative;

            &::placeholder {
                color: var(--midtone);
                opacity: 0.5;
            }

            &:focus {
                border-color: var(--accent);
                color: var(--accent);
                opacity: 1;
            }
        }

        label {
            font-size: 0.8rem;
            color: var(--midtone);

            &::before {
                content: '→';
                position: absolute;
                transform: translate(-150%, 1.5rem);
                font-size: 1rem;
            }
        }

        button {
            background-color: var(--midtone);
            padding: 0.5rem;
            transition: 0.3s;
            color: var(--secondary);
            border-radius: 0.25rem;
            box-shadow: 2px 2px 4px var(--primary);

            &:hover {
                background-color: var(--accent);
            }
        }
    }
}

.homepage {
    min-height: 100vh;
    backdrop-filter: blur(3px) brightness(0.4) hue-rotate(330deg);

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: var(--inline-padding-l);
        height: var(--nav-height);
        font-size: 1.1rem;
        transition: 0.3s;
        position: sticky;
        top: 0;
        margin-top: calc(-1 * var(--nav-height));
        z-index: 10;
        background-image: linear-gradient(var(--primary), transparent);

        .tagname {
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: var(--accent);

            .logo {
                font-weight: 800;
                height: 2rem;
                aspect-ratio: 1;
                border: 2px solid var(--accent);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.2rem;
            }
        }

        .navlinks {
            display: flex;
            list-style: none;
            align-items: center;
            gap: 1rem;

            .close {
                display: none;
            }

            li {
                display: flex;
            }

            a {
                line-height: var(--nav-height);
                text-decoration: none;
                color: var(--midtone);
                transition: 0.3s ease-in-out;

                &:hover {
                    color: var(--accent);
                }
            }

            .logout {
                padding: 0.5rem 1rem;
                border: 1px solid var(--midtone);
                border-radius: 0.5rem;
                font-size: 0.8rem;
                color: var(--midtone);
                cursor: pointer;

                &:hover {
                    background-color: var(--midtone);
                    color: var(--primary);
                }
            }
        }

        .menu {
            height: 3rem;
            width: 3rem;
            display: none;
            justify-content: center;
            align-items: center;
            
            .burger {
                
                width: 1.2rem;
                height: 2px;
                background-color: var(--midtone);
                position: relative;
    
                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: -5px;
                    height: 2px;
                    width: 0.8rem;
                    background-color: inherit;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    right: 0;
                    bottom: -6px;
                    height: 2px;
                    width: 1rem;
                    background-color: inherit;
                }
    
            }

            &:hover .burger {
                background-color: var(--accent);
            }
        }
    }

    section {
        padding-inline: var(--inline-padding-l);
        position: relative;
        min-height: 100vh;
        transition: 0.3s;
        opacity: 0;

        &.show-section, &:first-of-type {
            opacity: 1;
        }

        .container {
            padding-left: 3rem;
        }

        .pseudo {
            display: block;
            font-size: 0.9rem;
            color: #506c61;
            position: relative;

            &::before {
                content: '';
                width: var(--bullet-size);
                height: var(--bullet-size);
                border-radius: 50%;
                background-color: var(--midtone);
                box-shadow: 0 0 0 1px var(--primary), 0 0 0 2px var(--midtone);
                position: absolute;
                top: 50%; left: -3rem;
                transform: translate(-50%, -50%);
            }
        }

        .timeline {
            width: 1px;
            position: absolute;
            top: 0;
            left: var(--inline-padding-l);
            bottom: 0;
            transform: translateX(-100%);
        }

        &:first-of-type .timeline {
            top: calc(5rem + var(--bullet-size) + var(--nav-height));
        }

        &:nth-child(even) .timeline {
            background-image: linear-gradient(var(--midtone), var(--secondary));
        }

        &:nth-child(odd) .timeline {
            background-image: linear-gradient(var(--secondary), var(--midtone));
        }

        &#home {
            padding-top: var(--nav-height);
            display: flex;

            header {
                color: #bebebe;
                margin-top: 5rem;
                display: flex;
                flex-direction: column;

                p {
                    --inherited-color: var(--midtone); 
                    font-size: 1.5rem;
                    width: fit-content;

                    #activity {
                        color: var(--midtone);
                        font-weight: 800;
                    }

                    &.first {
                        --delay: 0.5s;
                        --text-delay: 1s;
                        margin-top: 3rem;
                    }

                    &.last {
                        --delay: 1.3s;
                        --text-delay: 1.8s;
                    }
                }
                
                h1 {
                    --inherited-color: var(--accent); 
                    --delay: 0.9s;
                    --text-delay: 1.4s;
                    font-size: 3rem;
                    font-weight: 800;
                    color: var(--accent);
                    letter-spacing: 0.05rem;
                }

                .line {
                    position: relative;
                    visibility: hidden;
                    animation: show 0.5s ease var(--text-delay) forwards;
                }


                .line::after {
                    content: '';
                    background-color: var(--inherited-color);
                    height: 100%;
                    position: absolute;
                    visibility: visible;
                    top: 0;
                    animation: expand 0.8s ease-in-out var(--delay) forwards;
                }

                .cta {
                    background-color: var(--midtone);
                    padding: 1rem 2rem;
                    margin-top: 1.5rem;
                    width: fit-content;
                    border-radius: 0.5rem;
                    text-decoration: none;
                    color: var(--primary);
                    transition: 0.3s;
                    box-shadow: 2px 2px 4px var(--primary);
                    opacity: 0;
                    animation: show 1s ease-in-out 1.5s forwards;

                    &:hover {
                        background-color: var(--accent);
                    }
                }
            }
        }

        &#projects {
            padding-top: calc(var(--nav-height) * 2);

            .container {
                display: flex;
                flex-direction: column;
                gap: 3rem;
                
                .project {
                    display: flex;
                    gap: 2rem;
                    perspective: 1000px;
                    transform-style: preserve-3d;

                    &:nth-child(odd) {
                        flex-direction: row-reverse;

                        .screenshot {
                            transform-origin: right;
                        }

                        .details {
                            align-items: end;
                            text-align: right;

                            .actions {
                                justify-content: flex-end;
                            }
                        }
                    }
                    
                    .screenshot {
                        animation: scroll 3s linear  alternate infinite;
                        background-size: cover;
                        transition: 0.3s;
                        transform-origin: left;

                        
                        &.catland {
                            width: min(80vw, 450px);
                            aspect-ratio: 16/8.5;
                            background-image: url('../assets/catland.jpeg');
                        }

                        &.iplay {
                            width: min(60vh, 250px);
                            aspect-ratio: 9/16;
                            background-image: url('../assets//iplay.jpeg');
                        }

                        &.calculator {
                            width: min(60vh, 250px);
                            aspect-ratio: 9/15;
                            background-image: url('../assets/calculator.jpeg');
                        }

                        &:not(:hover) {
                            animation-play-state: paused;
                            transform: rotateX(0deg) rotateY(0deg);
                        }

                        &:hover {
                            position: relative;
                            z-index: 5;
                            box-shadow: 4px 4px 16px 2px var(--secondary);
                        }
                    }

                    .details {
                        text-wrap: balance;
                        flex: 1;

                        .sticky-content {
                            position: sticky;
                            top: var(--nav-height);
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            gap: 1rem;
                        }

                        .actions {
                            display: flex;
                            gap: 1rem;

                            a {
                                text-align: center;
                                display: flex;
                                align-items: center;
                            }

                            .demo {
                                background-color: var(--midtone);
                                padding: 0.5rem 1rem;
                                font-size: 0.8rem;
                                border-radius: 0.5rem;
                                text-decoration: none;
                                color: var(--primary);
                                transition: 0.3s;
                                box-shadow: 2px 2px 4px var(--primary);
                                transition: 0.1s;

                                &:hover {
                                    background-color: var(--accent);
                                }
                            }

                            .source {
                                border: 1px solid var(--midtone);
                                padding: 0.5rem 1rem;
                                font-size: 0.8rem;
                                border-radius: 0.5rem;
                                text-decoration: none;
                                color: var(--midtone);
                                transition: 0.1s;
                                box-shadow: 2px 2px 4px var(--primary);

                                &:hover {
                                    background-color: var(--midtone);
                                    color: var(--primary);
                                }
                            }
                        }
                    }
                }
            }
        }

        &#about {
            padding-top: calc(var(--nav-height) * 2);

            .container {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                >div {
                    padding-bottom: 4rem;
                }

                .heading {
                    margin-bottom: 1rem;

                    .header {
                        font-size: 2rem;
                        color: var(--accent);
                        letter-spacing: 0.1rem;
                        line-height: 1.15;
                    }

                    .subheader {
                        font-size: 1.5rem;
                        color: var(--midtone);
                    }
                }
                
                .me {
                    display: flex;
                       gap: 1rem;
    
                    .details {
                        flex: 1;
    
                        .sticky-content {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            text-wrap: balance;
                            position: sticky;
                            top: var(--nav-height);
        
                            p {
                                font-size: 1rem;
                                color: var(--accent);
                            }
                        }
                    }
    
                    .picture {
                        width: 45%;
                        aspect-ratio: 1;
                        background-image: url('../assets/yummy.jpg');
                        background-size: cover;
                        background-position: center;
                        transition: 0.8s;
    
                        &:hover {
                            background-image: url('../assets/yummy1.jpg');
                        }
                    }
                }

                .school {
                    background-color: var(--secondary);
                    width: 100vw;
                    position: relative;
                    left: calc(-1 * var(--inline-padding-l) - 3rem);
                    padding-top: 3rem;
                    padding-inline: calc(3rem + var(--inline-padding-l));

                    .heading {
                        margin-bottom: 2rem;
                    }

                    .educations {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 2rem;
                        padding-left: 2rem;

                        .education {
                            
                            .level {
                                font-weight: 100;
                            }

                            .place {
                                font-weight: 800;
                                font-size: 1.3rem;
                            }

                            .taken {
                                font-weight: 600;
                                color: var(--midtone);
                            }

                            .year {
                                font-weight: 100;
                            }
                        }
                    }
                }

                .skills {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .skill {
                        padding-inline: 2rem;
                        display: flex;
                        gap: 5rem;

                        &:nth-child(odd) {
                            flex-direction: row-reverse;

                            .skillset .sticky-content {
                                padding-left: 4rem;
                            }
                        }

                        .illustration {
                            width: 35%;

                            img {
                                width: 100%;
                            }
                        }

                        .skillset {
                            flex: 1;

                            .sticky-content {
                                position: sticky;
                                top: var(--nav-height);
                                display: flex;
                                flex-direction: column;
                                gap: 1rem;

                                .icons {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 1rem;

                                    .icon {
                                        display: flex;
                                        align-items: center;
                                        gap: 1rem;

                                        img {
                                            width: 2.5rem;
                                            transition: 0.3s;

                                            &:hover {
                                                scale: 1.1;
                                            }
                                        }

                                        &.css img {
                                            scale: 1.15;

                                            &:hover {
                                                scale: 1.3;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        &#gallery {
            padding-top: calc(var(--nav-height) * 2);
            padding-bottom: 3rem;
            
            .heading {
                margin-top: 2rem;

                .header {
                    font-size: 2rem;
                    color: var(--accent);
                    letter-spacing: 0.1rem;
                    line-height: 1.15;

                    span {
                        opacity: 0.1;
                    }
                }

                .subheader {
                    font-size: 1.5rem;
                    color: var(--midtone);
                }
            }

            .pictures {
                display: flex;
                gap: 0.5rem;
                padding-inline: 2rem;
                margin-top: 2rem;

                .column {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    overflow: hidden;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    transition: 0.3s;

                    &:hover {
                        scale: 1.03;
                    }
                }
            }

            .video {
                padding-top: 2rem;

                .bink_sake {
                    margin-top: 2rem;
                    width: 100%;
                    aspect-ratio: 16/9;
                }
            }
        }
    }

    footer {
        height: 10vh;
        background-color: var(--primary);
        display: flex;
        align-items: center;
        padding-inline: var(--inline-padding-l);
        font-size: 0.7rem;
    }
}

@media (max-width: 59em) {
    .hero-container {
        padding-inline: 4rem;
    }

    .homepage {

        nav {
            .navlinks {
                display: none;

                .close {
                    display: block;
                    font-size: 1.5rem;
                    cursor: pointer;
                }

                &:has(+ .show-nav) {
                    background-color: var(--secondary);
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    position: absolute;
                    z-index: 10;
                    right: 0; top: 0;
                    width: 50vw;
                    height: 100vh;
                    padding: 2rem 4rem;
                }
            }

            .menu {
                display: flex;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 46em) {
    :root {
        --inline-padding-l: 5rem;
    }

    .hero-container {
        header {
            h1 {
                font-size: 2.5rem;
            }
            h2 {
                font-size: 1.3rem;
            }
        }
        a {
            font-size: 0.8rem;
            padding: 0.8rem 1.6rem;
        }
    }
}

@media (max-width: 38em) {
    :root {
        --inline-padding-l: 1rem;
    }

    .homepage {

        section#projects {
            .project {
                flex-direction: column;

                .screenshot {
                    width: 90% !important;
                }

                &:nth-child(odd) {
                    display: flex;
                    flex-direction: column !important;

                    * {
                        align-items: start;
                        text-align: left;
                    }
                }
            }
        }

        section#about {
            .me {
                flex-direction: column;

                .picture {
                    width: 90% !important;
                }
            }

            .school {
                .educations {
                    grid-template-columns: 1fr !important;
                }
            }

            .skills .skill {
                flex-direction: column !important;

                .illustration {
                    width: 90% !important;
                }

                .skillset .sticky-content {
                    padding-left: 0 !important;
                }
            }
        }

        section#gallery {
            .pictures {
                display: grid;
            }
        }

    }
}